<a href="https://colab.research.google.com/github/aayushdubey-projects/Machine_Learning-CS601/blob/main/List_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
{
  "nbformat": 4,
  "nbformat_minor": 0,
  "metadata": {
    "colab": {
      "name": "List Comprehension.ipynb",
      "provenance": [],
    },
    "kernelspec": {
      "name": "python3",
      "display_name": "Python 3"
    },
    "language_info": {
      "name": "python"
    }
  },
  "cells": [
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "view-in-github",
        "colab_type": "text"
      },
    },
    {
      "cell_type": "code",
      "execution_count": 2,
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "pZz0jjlo61hQ",
        "outputId": "d28d9d1a-fccb-4ad6-b616-5c0b65fb7414"
      },
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "[81, 121]"
            ]
          },
          "metadata": {},
          "execution_count": 2
        }
      ],
      "source": [
        "#To print the square of numbers provided in the list given if it is greater than 50.\n",
        "L1= [5,6,9,11,7]\n",
        "[i**2  for i in L1   if (i**2>50)]"
      ]
    },
    {
      "cell_type": "markdown",
      "source": [
        ""
      ],
      "metadata": {
        "id": "MWgBi_5Z_Ewk"
      }
    },
    {
      "cell_type": "code",
      "source": [
        "#For given list if the value is greater than 5 then print 'hi' otherwise print 'bye'.\n",
        "L1=[4,1,5,9,8,11]\n",
        "['hi' if (i>5) else 'bye' for i in L1]"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "OVCmd6oF_Fby",
        "outputId": "9679276b-e383-49f0-b00b-911559052cf3"
      },
      "execution_count": 4,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "['bye', 'bye', 'bye', 'hi', 'hi', 'hi']"
            ]
          },
          "metadata": {},
          "execution_count": 4
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "#If x^2 <= 10 , then execute 27 multiplied by x for values in range 1 to 20.\n",
        "[27*x for x in range(1,21) if (x**2<=10)]"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "AoWV4lEECCTI",
        "outputId": "fff49df7-ea14-4e79-cade-e2e96680a2d6"
      },
      "execution_count": 6,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "[27, 54, 81]"
            ]
          },
          "metadata": {},
          "execution_count": 6
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "#Print all the even numbers in the range 1 to 20.\n",
        "[i for i in range(1,21) if (i%2==0)]"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "ugOZqbNPDghy",
        "outputId": "0f5030f1-20c2-4457-e59c-6de6251929a6"
      },
      "execution_count": 8,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]"
            ]
          },
          "metadata": {},
          "execution_count": 8
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "# Find all the numbers that can be divided by 2 and 5 in some range \n",
        "\n",
        "[i for i in range(1,101) if (i%2==0) and (i%5==0)]"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "W-PmfTpTEaOd",
        "outputId": "b3f91ebe-43c6-4dd0-c48c-90c4a8ae248b"
      },
      "execution_count": 9,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]"
            ]
          },
          "metadata": {},
          "execution_count": 9
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "#Find all the numbers from 1 to 1000 that have 3 in them.\n",
        "[i for i in range (1,1001) if'3' in str(i)]"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "JLYCjtNGEuCn",
        "outputId": "7fbb8b36-c814-4090-f750-2ed74ba58d63"
      },
      "execution_count": 10,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "[3,\n",
              " 13,\n",
              " 23,\n",
              " 30,\n",
              " 31,\n",
              " 32,\n",
              " 33,\n",
              " 34,\n",
              " 35,\n",
              " 36,\n",
              " 37,\n",
              " 38,\n",
              " 39,\n",
              " 43,\n",
              " 53,\n",
              " 63,\n",
              " 73,\n",
              " 83,\n",
              " 93,\n",
              " 103,\n",
              " 113,\n",
              " 123,\n",
              " 130,\n",
              " 131,\n",
              " 132,\n",
              " 133,\n",
              " 134,\n",
              " 135,\n",
              " 136,\n",
              " 137,\n",
              " 138,\n",
              " 139,\n",
              " 143,\n",
              " 153,\n",
              " 163,\n",
              " 173,\n",
              " 183,\n",
              " 193,\n",
              " 203,\n",
              " 213,\n",
              " 223,\n",
              " 230,\n",
              " 231,\n",
              " 232,\n",
              " 233,\n",
              " 234,\n",
              " 235,\n",
              " 236,\n",
              " 237,\n",
              " 238,\n",
              " 239,\n",
              " 243,\n",
              " 253,\n",
              " 263,\n",
              " 273,\n",
              " 283,\n",
              " 293,\n",
              " 300,\n",
              " 301,\n",
              " 302,\n",
              " 303,\n",
              " 304,\n",
              " 305,\n",
              " 306,\n",
              " 307,\n",
              " 308,\n",
              " 309,\n",
              " 310,\n",
              " 311,\n",
              " 312,\n",
              " 313,\n",
              " 314,\n",
              " 315,\n",
              " 316,\n",
              " 317,\n",
              " 318,\n",
              " 319,\n",
              " 320,\n",
              " 321,\n",
              " 322,\n",
              " 323,\n",
              " 324,\n",
              " 325,\n",
              " 326,\n",
              " 327,\n",
              " 328,\n",
              " 329,\n",
              " 330,\n",
              " 331,\n",
              " 332,\n",
              " 333,\n",
              " 334,\n",
              " 335,\n",
              " 336,\n",
              " 337,\n",
              " 338,\n",
              " 339,\n",
              " 340,\n",
              " 341,\n",
              " 342,\n",
              " 343,\n",
              " 344,\n",
              " 345,\n",
              " 346,\n",
              " 347,\n",
              " 348,\n",
              " 349,\n",
              " 350,\n",
              " 351,\n",
              " 352,\n",
              " 353,\n",
              " 354,\n",
              " 355,\n",
              " 356,\n",
              " 357,\n",
              " 358,\n",
              " 359,\n",
              " 360,\n",
              " 361,\n",
              " 362,\n",
              " 363,\n",
              " 364,\n",
              " 365,\n",
              " 366,\n",
              " 367,\n",
              " 368,\n",
              " 369,\n",
              " 370,\n",
              " 371,\n",
              " 372,\n",
              " 373,\n",
              " 374,\n",
              " 375,\n",
              " 376,\n",
              " 377,\n",
              " 378,\n",
              " 379,\n",
              " 380,\n",
              " 381,\n",
              " 382,\n",
              " 383,\n",
              " 384,\n",
              " 385,\n",
              " 386,\n",
              " 387,\n",
              " 388,\n",
              " 389,\n",
              " 390,\n",
              " 391,\n",
              " 392,\n",
              " 393,\n",
              " 394,\n",
              " 395,\n",
              " 396,\n",
              " 397,\n",
              " 398,\n",
              " 399,\n",
              " 403,\n",
              " 413,\n",
              " 423,\n",
              " 430,\n",
              " 431,\n",
              " 432,\n",
              " 433,\n",
              " 434,\n",
              " 435,\n",
              " 436,\n",
              " 437,\n",
              " 438,\n",
              " 439,\n",
              " 443,\n",
              " 453,\n",
              " 463,\n",
              " 473,\n",
              " 483,\n",
              " 493,\n",
              " 503,\n",
              " 513,\n",
              " 523,\n",
              " 530,\n",
              " 531,\n",
              " 532,\n",
              " 533,\n",
              " 534,\n",
              " 535,\n",
              " 536,\n",
              " 537,\n",
              " 538,\n",
              " 539,\n",
              " 543,\n",
              " 553,\n",
              " 563,\n",
              " 573,\n",
              " 583,\n",
              " 593,\n",
              " 603,\n",
              " 613,\n",
              " 623,\n",
              " 630,\n",
              " 631,\n",
              " 632,\n",
              " 633,\n",
              " 634,\n",
              " 635,\n",
              " 636,\n",
              " 637,\n",
              " 638,\n",
              " 639,\n",
              " 643,\n",
              " 653,\n",
              " 663,\n",
              " 673,\n",
              " 683,\n",
              " 693,\n",
              " 703,\n",
              " 713,\n",
              " 723,\n",
              " 730,\n",
              " 731,\n",
              " 732,\n",
              " 733,\n",
              " 734,\n",
              " 735,\n",
              " 736,\n",
              " 737,\n",
              " 738,\n",
              " 739,\n",
              " 743,\n",
              " 753,\n",
              " 763,\n",
              " 773,\n",
              " 783,\n",
              " 793,\n",
              " 803,\n",
              " 813,\n",
              " 823,\n",
              " 830,\n",
              " 831,\n",
              " 832,\n",
              " 833,\n",
              " 834,\n",
              " 835,\n",
              " 836,\n",
              " 837,\n",
              " 838,\n",
              " 839,\n",
              " 843,\n",
              " 853,\n",
              " 863,\n",
              " 873,\n",
              " 883,\n",
              " 893,\n",
              " 903,\n",
              " 913,\n",
              " 923,\n",
              " 930,\n",
              " 931,\n",
              " 932,\n",
              " 933,\n",
              " 934,\n",
              " 935,\n",
              " 936,\n",
              " 937,\n",
              " 938,\n",
              " 939,\n",
              " 943,\n",
              " 953,\n",
              " 963,\n",
              " 973,\n",
              " 983,\n",
              " 993]"
            ]
          },
          "metadata": {},
          "execution_count": 10
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "#S='I love my city.' found the number of spaces in that string.\n",
        "s= \"I love my city. \"\n",
        "l1=[i for i in s if i==' ']\n",
        "print(len(l1))"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "Zp8TX5YSGKrb",
        "outputId": "0ff6169d-94bf-4377-8d85-8973e050222c"
      },
      "execution_count": 18,
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "4\n"
          ]
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "# S='skflheriugfvneailbquitoregvjbbf'. Count the consonents present in the string.\n",
        "S='skflheriugfvneailbq uitore gvjbbf'\n",
        "l1=[i for i in S  if i not in 'a,e,i,o,u,' '']\n",
        "print(len(l1))"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "h-Z2WM0KIfd1",
        "outputId": "efaed853-69a9-47e4-8d79-37b616a70321"
      },
      "execution_count": 19,
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "23\n"
          ]
        }
      ]
    }
  ]
}

{'cells': [{'cell_type': 'markdown',
   'metadata': {'colab_type': 'text', 'id': 'view-in-github'}},
  {'cell_type': 'code',
   'execution_count': 2,
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/'},
    'id': 'pZz0jjlo61hQ',
    'outputId': 'd28d9d1a-fccb-4ad6-b616-5c0b65fb7414'},
   'outputs': [{'data': {'text/plain': ['[81, 121]']},
     'execution_count': 2,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['#To print the square of numbers provided in the list given if it is greater than 50.\n',
    'L1= [5,6,9,11,7]\n',
    '[i**2  for i in L1   if (i**2>50)]']},
  {'cell_type': 'markdown',
   'metadata': {'id': 'MWgBi_5Z_Ewk'},
   'source': ['']},
  {'cell_type': 'code',
   'execution_count': 4,
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/'},
    'id': 'OVCmd6oF_Fby',
    'outputId': '9679276b-e383-49f0-b00b-911559052cf3'},
   'outputs': [{'data': {'text/plain': ["['bye', 'bye', 'bye', 'hi', 'hi', 'hi']"]},
     'execution_count': 4,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ["#For given list if the value is greater than 5 then print 'hi' otherwise print 'bye'.\n",
    'L1=[4,1,5,9,8,11]\n',
    "['hi' if (i>5) else 'bye' for i in L1]"]},
  {'cell_type': 'code',
   'execution_count': 6,
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/'},
    'id': 'AoWV4lEECCTI',
    'outputId': 'fff49df7-ea14-4e79-cade-e2e96680a2d6'},
   'outputs': [{'data': {'text/plain': ['[27, 54, 81]']},
     'execution_count': 6,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['#If x^2 <= 10 , then execute 27 multiplied by x for values in range 1 to 20.\n',
    '[27*x for x in range(1,21) if (x**2<=10)]']},
  {'cell_type': 'code',
   'execution_count': 8,
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/'},
    'id': 'ugOZqbNPDghy',
    'outputId': '0f5030f1-20c2-4457-e59c-6de6251929a6'},
   'outputs': [{'data': {'text/plain': ['[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]']},
     'execution_count': 8,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['#Print all the even numbers in the range 1 to 20.\n',
    '[i for i in range(1,21) if (i%2==0)]']},
  {'cell_type': 'code',
   'execution_count': 9,
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/'},
    'id': 'W-PmfTpTEaOd',
    'outputId': 'b3f91ebe-43c6-4dd0-c48c-90c4a8ae248b'},
   'outputs': [{'data': {'text/plain': ['[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]']},
     'execution_count': 9,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['# Find all the numbers that can be divided by 2 and 5 in some range \n',
    '\n',
    '[i for i in range(1,101) if (i%2==0) and (i%5==0)]']},
  {'cell_type': 'code',
   'execution_count': 10,
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/'},
    'id': 'JLYCjtNGEuCn',
    'outputId': '7fbb8b36-c814-4090-f750-2ed74ba58d63'},
   'outputs': [{'data': {'text/plain': ['[3,\n',
       ' 13,\n',
       ' 23,\n',
       ' 30,\n',
       ' 31,\n',
       ' 32,\n',
       ' 33,\n',
       ' 34,\n',
       ' 35,\n',
       ' 36,\n',
       ' 37,\n',
       ' 38,\n',
       ' 39,\n',
       ' 43,\n',
       ' 53,\n',
       ' 63,\n',
       ' 73,\n',
       ' 83,\n',
       ' 93,\n',
       ' 103,\n',
       ' 113,\n',
       ' 123,\n',
       ' 130,\n',
       ' 131,\n',
       ' 132,\n',
       ' 133,\n',
       ' 134,\n',
       ' 135,\n',
       ' 136,\n',
       ' 137,\n',
       ' 138,\n',
       ' 139,\n',
       ' 143,\n',
       ' 153,\n',
       ' 163,\n',
       ' 173,\n',
       ' 183,\n',
       ' 193,\n',
       ' 203,\n',
       ' 213,\n',
       ' 223,\n',
       ' 230,\n',
       ' 231,\n',
       ' 232,\n',
       ' 233,\n',
       ' 234,\n',
       ' 235,\n',
       ' 236,\n',
       ' 237,\n',
       ' 238,\n',
       ' 239,\n',
       ' 243,\n',
       ' 253,\n',
       ' 263,\n',
       ' 273,\n',
       ' 283,\n',
       ' 293,\n',
       ' 300,\n',
       ' 301,\n',
       ' 302,\n',
       ' 303,\n',
       ' 304,\n',
       ' 305,\n',
       ' 306,\n',
       ' 307,\n',
       ' 308,\n',
       ' 309,\n',
       ' 310,\n',
       ' 311,\n',
       ' 312,\n',
       ' 313,\n',
       ' 314,\n',
       ' 315,\n',
       ' 316,\n',
       ' 317,\n',
       ' 318,\n',
       ' 319,\n',
       ' 320,\n',
       ' 321,\n',
       ' 322,\n',
       ' 323,\n',
       ' 324,\n',
       ' 325,\n',
       ' 326,\n',
       ' 327,\n',
       ' 328,\n',
       ' 329,\n',
       ' 330,\n',
       ' 331,\n',
       ' 332,\n',
       ' 333,\n',
       ' 334,\n',
       ' 335,\n',
       ' 336,\n',
       ' 337,\n',
       ' 338,\n',
       ' 339,\n',
       ' 340,\n',
       ' 341,\n',
       ' 342,\n',
       ' 343,\n',
       ' 344,\n',
       ' 345,\n',
       ' 346,\n',
       ' 347,\n',
       ' 348,\n',
       ' 349,\n',
       ' 350,\n',
       ' 351,\n',
       ' 352,\n',
       ' 353,\n',
       ' 354,\n',
       ' 355,\n',
       ' 356,\n',
       ' 357,\n',
       ' 358,\n',
       ' 359,\n',
       ' 360,\n',
       ' 361,\n',
       ' 362,\n',
       ' 363,\n',
       ' 364,\n',
       ' 365,\n',
       ' 366,\n',
       ' 367,\n',
       ' 368,\n',
       ' 369,\n',
       ' 370,\n',
       ' 371,\n',
       ' 372,\n',
       ' 373,\n',
       ' 374,\n',
       ' 375,\n',
       ' 376,\n',
       ' 377,\n',
       ' 378,\n',
       ' 379,\n',
       ' 380,\n',
       ' 381,\n',
       ' 382,\n',
       ' 383,\n',
       ' 384,\n',
       ' 385,\n',
       ' 386,\n',
       ' 387,\n',
       ' 388,\n',
       ' 389,\n',
       ' 390,\n',
       ' 391,\n',
       ' 392,\n',
       ' 393,\n',
       ' 394,\n',
       ' 395,\n',
       ' 396,\n',
       ' 397,\n',
       ' 398,\n',
       ' 399,\n',
       ' 403,\n',
       ' 413,\n',
       ' 423,\n',
       ' 430,\n',
       ' 431,\n',
       ' 432,\n',
       ' 433,\n',
       ' 434,\n',
       ' 435,\n',
       ' 436,\n',
       ' 437,\n',
       ' 438,\n',
       ' 439,\n',
       ' 443,\n',
       ' 453,\n',
       ' 463,\n',
       ' 473,\n',
       ' 483,\n',
       ' 493,\n',
       ' 503,\n',
       ' 513,\n',
       ' 523,\n',
       ' 530,\n',
       ' 531,\n',
       ' 532,\n',
       ' 533,\n',
       ' 534,\n',
       ' 535,\n',
       ' 536,\n',
       ' 537,\n',
       ' 538,\n',
       ' 539,\n',
       ' 543,\n',
       ' 553,\n',
       ' 563,\n',
       ' 573,\n',
       ' 583,\n',
       ' 593,\n',
       ' 603,\n',
       ' 613,\n',
       ' 623,\n',
       ' 630,\n',
       ' 631,\n',
       ' 632,\n',
       ' 633,\n',
       ' 634,\n',
       ' 635,\n',
       ' 636,\n',
       ' 637,\n',
       ' 638,\n',
       ' 639,\n',
       ' 643,\n',
       ' 653,\n',
       ' 663,\n',
       ' 673,\n',
       ' 683,\n',
       ' 693,\n',
       ' 703,\n',
       ' 713,\n',
       ' 723,\n',
       ' 730,\n',
       ' 731,\n',
       ' 732,\n',
       ' 733,\n',
       ' 734,\n',
       ' 735,\n',
       ' 736,\n',
       ' 737,\n',
       ' 738,\n',
       ' 739,\n',
       ' 743,\n',
       ' 753,\n',
       ' 763,\n',
       ' 773,\n',
       ' 783,\n',
       ' 793,\n',
       ' 803,\n',
       ' 813,\n',
       ' 823,\n',
       ' 830,\n',
       ' 831,\n',
       ' 832,\n',
       ' 833,\n',
       ' 834,\n',
       ' 835,\n',
       ' 836,\n',
       ' 837,\n',
       ' 838,\n',
       ' 839,\n',
       ' 843,\n',
       ' 853,\n',
       ' 863,\n',
       ' 873,\n',
       ' 883,\n',
       ' 893,\n',
       ' 903,\n',
       ' 913,\n',
       ' 923,\n',
       ' 930,\n',
       ' 931,\n',
       ' 932,\n',
       ' 933,\n',
       ' 934,\n',
       ' 935,\n',
       ' 936,\n',
       ' 937,\n',
       ' 938,\n',
       ' 939,\n',
       ' 943,\n',
       ' 953,\n',
       ' 963,\n',
       ' 973,\n',
       ' 983,\n',
       ' 993]']},
     'execution_count': 10,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['#Find all the numbers from 1 to 1000 that have 3 in them.\n',
    "[i for i in range (1,1001) if'3' in str(i)]"]},
  {'cell_type': 'code',
   'execution_count': 18,
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/'},
    'id': 'Zp8TX5YSGKrb',
    'outputId': '0ff6169d-94bf-4377-8d85-8973e050222c'},
   'outputs': [{'name': 'stdout', 'output_type': 'stream', 'text': ['4\n']}],
   'source': ["#S='I love my city.' found the number of spaces in that string.\n",
    's= "I love my city. "\n',
    "l1=[i for i in s if i==' ']\n",
    'print(len(l1))']},
  {'cell_type': 'code',
   'execution_count': 19,
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/'},
    'id': 'h-Z2WM0KIfd1',
    'outputId': 'efaed853-69a9-47e4-8d79-37b616a70321'},
   'outputs': [{'name': 'stdout', 'output_type': 'stream', 'text': ['23\n']}],
   'source': ["# S='skflheriugfvneailbquitoregvjbbf'. Count the consonents present in the string.\n",
    "S='skflheriugfvneailbq uitore gvjbbf'\n",
    "l1=[i for i in S  if i not in 'a,e,i,o,u,' '']\n",
    'print(len(l1))']}],
 'metadata': {'colab': {'name': 'List Comprehension.ipynb', 'provenance': []},
  'kernelspec': {'display_name': 'Python 3', 'name': 'python3'},
  'language_info': {'name': 'python'}},
 'nbformat': 4,
 'nbformat_minor': 0}